/* ================= GRID LAYOUT ================= */

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns desktop */
  gap: 30px;
  margin-top: 40px;
}
.category-section{padding:60px 20px !important ;}
/* ================= CARD ================= */

.category-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

/* ================= IMAGE ================= */

.category-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.category-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ================= TEXT ================= */

.category-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 10px 0;
}
.category-header h2{font-size: 38px;}

.category-description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* ================= BUTTON ================= */

.category-btn {
  display: block;
  width: 100%;
  padding: 10px 18px;
  border-radius: 12px;
  background: #F8FAFC !important;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;;
  transition: all 0.3s ease;
  border : 1px solid #E2E8F0 ;

}

.category-btn:hover {
  background: #f7a707;
  color: #fff;
}

/* ================= SKELETON ================= */

.skeleton {
  height: 220px;
  background: #eee;
  border-radius: 20px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr); /* tablet */
  }
}

@media (max-width: 576px) {
  .categories-grid {
    grid-template-columns: 1fr; /* mobile */
  }

  .category-image {
    width: 120px;
    height: 120px;
  }
  .category-header h2{
    font-size: 24px !important;
  }
}